{# Site Homepage #}
{% extends "default.html" %}

{% block content %}
	<section class="intro">
		<h1 class="intro"> Tim is a <em>digital product designer</em> based in London, UK</h1>
		<em class="social"><a href="mailto:mail@timdavey.com">Email</a>  /  <a href="https://www.linkedin.com/in/tim-davey-394b43a8">Linkedin</a>  /  <a href="http://twitter.com/tjdaveyuk">Twitter</a>  /  <a href="http://blog.timdavey.com/">Tumblr</a>  /  <a href="https://dribbble.com/TimDavey/">Dribbble</a></em>

	</section>
{% endblock content %}




