{# Site Homepage #}
{% extends "default.html" %}

{% block content %}

<section class="{{ page.template_name }}">
	{% for page in page.paginated_items %}
		<section class="post-preview" style="background-color:#{{ page.background_color }};">
			<a class="overlay" href="{{ page.url }}"">
				<figure class="media  project-thumb" style="background-image: url('{% if page.thumb.time_string %}{{ page.thumb.time_string }}{% else %}{{ page.hero_image.time_string }}{% endif %}')">
				</figure>
			</a>
		</section>
	{% endfor %}
</section>

{% include 'includes/navigation/pagination.html' %}

{% endblock content %}





